@model List<CampCorr.ViewModels.ResultadoCorridaViewModel>
@{
    var count = 1;
    var campeao = @Model.OrderByDescending(x => x.Pontos).FirstOrDefault().NomePiloto;
}
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="area CampeaoText ">♠ Campeão ♠</h1>
      <h1 class="CampeaoText">@campeao</h1>
    </div>
  </div>
</div>
<h1>Resultados</h1>
<hr />


<div class="table-responsive">

    <table class="table dataTable table-dark table-striped table-bordered" id="tabelaResultadoTemporada">
        <thead>
            <tr>
                <th scope="col">Pos</th>
                <th scope="col">Nome</th>
                <th scope="col">Equipe</th>
                <th scope="col">Pontos</th>
                <th scope="col">Vitórias</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var resultado in Model.OrderByDescending(x => x.Pontos))
            {
                count++;
                <tr data-id="@resultado.PilotoId">
                    <td>@resultado.Posicao</td>
                    <td>@resultado.NomePiloto</td>
                    <td>@resultado.NomeEquipe </td>
                    <td>@resultado.Pontos</td>
                    <td>@resultado.NumeroVitorias</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="fireworks-container paused">
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
</div>
<hr />
<div>
    <a asp-action="Index">Voltar a lista de etapas</a>
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            $('#tabelaResultadoTemporada').DataTable({
                searching: false,
                lengthChange: false,
                "columnDefs": [
                    { "orderable": true, "targets": [3] },
                    { "orderable": false, "targets": '_all' }
                ]
            });
        })

        //const startButton = document.getElementById('startButton');
        //const fireworksContainer = document.querySelector('.fireworks-container');

        //startButton.addEventListener('click', () => {
        //    fireworksContainer.classList.add('visible');
        //});
    </script>
}