@model List<CampCorr.ViewModels.ResultadoCorridaViewModel>
@{
    int count = 0;
}
<h1>Resultados</h1>
<hr />
<h4>@ViewBag.nomeCampeonato</h4>
<div>
    @if (@ViewBag.logoCampeonato != null)
    {
        <img src="@ViewBag.logoCampeonato" alt="Imagem" width="90" height="48" />
    }
    else
    {
        <i class="fas fa-image" style="font-size: 34px;"></i>
    }
</div>
<hr />
<div class="table-responsive">

    <table class="table dataTable table-dark table-striped table-bordered" id="tabelaResultadoParcial">
        <thead>
            <tr>
                <th scope="col">Pos</th>
                <th scope="col">Nome</th>
                <th scope="col">Equipe</th>
                <th scope="col">Pontos</th>
                <th scope="col">Vitórias</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var resultado in Model.OrderByDescending(x => x.Pontos))
            {
                count++;
                <tr data-id="@resultado.PilotoId">
                    <td>@count</td>
                    <td>@resultado.NomePiloto</td>
                    <td>@resultado.NomeEquipe </td>
                    <td>@resultado.Pontos</td>
                    <td>@resultado.NumeroVitorias</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<div>
    <a class="btn btn-outline-light" asp-action="ResultadoPorEtapa" asp-route-nomeCampeonato="@ViewBag.nomeCampeonato">Ver resultados por etapa</a>
</div>
<div>
    <a asp-action="Details" asp-controller="Home" asp-route-nomeCampeonato="@ViewBag.nomeCampeonato">Voltar</a>
</div>

@section scripts{
    <script>
        $(document).ready(function() {
            $('#tabelaResultadoParcial').DataTable({
                searching: false,
                lengthChange: false,
                "pageLength": 30,
                "columnDefs": [
                    { "orderable": true, "targets": [3] },
                    { "orderable": false, "targets": '_all' }
                ],
            });
        })
    </script>
}