@model CampCorr.ViewModels.CampeonatoViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Campeonato</h4>

<hr />

<div class="form-outline form-white mb-4">
    <form asp-action="Edit" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdCampeonato" value="@Model.IdCampeonato" />
        <input type="hidden" asp-for="NomeCampeonato" value="@Model.NomeCampeonato" />
        <div class="form-group">
            <label asp-for="NomeCampeonato" class="control-label"></label>
            @*<span class="form-control">@Model.NomeCampeonato</span>*@
            <h3>@Model.NomeCampeonato</h3>

            <span asp-validation-for="NomeCampeonato" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Logo" class="control-label"></label>
            @if (Model.Logo == null)
            {
                <div class="form-group">
                    <input type="file" name="logo" class="form-control-file " />
                </div>
            }
            else
            {
                <img src="@Model.Logo" alt="Imagem" width="100" height="72" />
                <hr />
                <div>
                    ALterar logo
                </div>
                <div class="form-group">
                    <input type="file" name="logo" class="form-control-file " />
                </div>
            }
            <span asp-validation-for="Logo" class="text-danger"></span>
        </div>
        <hr />
        <div class="form-group">
            <a asp-action="VisualizarPilotosCampeonato" asp-controller="Campeonatos" class="botaoNavegacao btn">Pilotos do Campeonato</a>
        </div>

        <hr />
        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
        <hr />
        @if (Model.Temporadas.Count() > 0)
        {
            <div>
                Editar temporada
            </div>
            <div>
                @foreach (var item in Model.Temporadas)
                {
                    <a class="btn btn-secondary btn-block" asp-action="Edit" asp-controller="Temporadas" asp-route-ano="@item.AnoTemporada">
                        @item.AnoTemporada.ToString()
                    </a>
                }
            </div>
        }
        else
        {
            <div>
                <a asp-action="Create" asp-area="Admin" asp-controller="Temporadas"> Adicionar temporada </a>
            </div>
        }


    </form>
</div>


<div>
    <a asp-action="Index" asp-area="" asp-controller="Home">Voltar a página inicial</a>
</div>
@section scripts{
    <script>
        $(document).ready(function() {
            
        });




    </script>
}