@model CampCorr.ViewModels.CampeonatoViewModel
@{

}
<h4>@Model.NomeCampeonato</h4>
<div>
    @if (@Model.Logo != null)
    {
        <img src="@Html.DisplayFor(modelItem => @modelItem.Logo)" alt="Imagem" width="90" height="48" />
    }
    else
    {
        <i class="fas fa-image" style="font-size: 34px;"></i>
    }
</div>
<hr />
@if (Model.Temporadas.Count > 1)
{
    <div class="form-outline mb-5">
        <a class="btn btn-outline-light btn-lg px-5" asp-controller="TabelaResultado" asp-action="ResultadosAnteriores">Ver resultados anteriores</a>
    </div>
}
@if (Model.Etapas.Count > 0 && ViewBag.resultados.Count > 0)
{
    <div class="form-outline mb-5">
        <a class="btn btn-outline-light btn-lg px-5" asp-controller="TabelaResultado" asp-action="ResultadoAtual" asp-route-nomeCampeonato="@Model.NomeCampeonato">Acompanhar Resultados</a>
    </div>
}
else
{
    <h4>Não há resultados para exibir</h4>
}
<hr />
<a asp-action="Index">Voltar</a>